.social-links{
    display: flex;
    width: 100% !important;
    justify-content: center;
    gap: 20px;
}

.social-links img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(225, 223, 223);
}

.social-links .google_icon:hover{
    background: orangered;
}

.social-links .facebook_icon:hover{
    background: rgb(64, 207, 255);
}

.social-links .github_icon:hover{
    background: rgb(203, 58, 251);
}

.social-links .dropdown:hover{
    background: rgb(234, 238, 14);
    rotate: 0deg;
}

.social-links .dropdown{
    rotate: -90deg;
}